@use "mixins";

main {
  img {
    border: 1px solid white;
  }
  h1 {
    text-align: center;
    border-top: 1px solid rgb(72, 78, 81);
  }
  ul {
    list-style: none;
    @include mixins.flex-c;
    li {
      width: 95%;
      text-align: center;
      h3 {
        text-align: center;
        @include mixins.ipad() {
          margin-left: 20px;
          font-size: 1.6rem;
        }
        @include mixins.laptop() {
          margin-left: 30px;
          font-size: 1.8rem;
        }
      }
      div {
        img {
          width: 60%;
          @include mixins.desktop() {
            width: 62%;
          }
        }
      }
      .proText {
        background-color: rgb(72, 78, 81);
        padding: 1em;
        font-size: 1em;
        margin: 20px;
        @include mixins.ipad() {
          width: 55%;
          margin-left: 20%;
          font-size: 1.2rem;
        }
        @include mixins.laptop() {
          width: 56%;
          margin-left: 20%;
          font-size: 1.4rem;
        }
        @include mixins.desktop() {
          width: 59%;
          margin-left: 19%;
          font-size: 1.6rem;
        }
        a {
          color: rgb(221, 221, 221);
        }
      }
    }
  }
}
